@font-face {
  font-family: "iconfont"; /* Project id 3706636 */
  src: url('iconfont.woff2?t=1665739560932') format('woff2'),
       url('iconfont.woff?t=1665739560932') format('woff'),
       url('iconfont.ttf?t=1665739560932') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e69b";
}

.icon-nickname:before {
  content: "\e6a0";
}

.icon-voiceshopping:before {
  content: "\e6e3";
}

.icon-cart:before {
  content: "\e6e6";
}

